In [3]:
import pandas as pd
pd.set_option('display.max_rows', 5)
print("Setup complete.")

Setup complete.

In [2]:
pd.DataFrame({'apples': [50], 'bananas': [21]})

   apples  bananas
0      50       21

In [3]:
pd.DataFrame({'apples': ['35', '41'], 
              'bananas': ['41', '34']},
             index=['2017 sales', '2018 sales'])

           apples bananas
2017 sales     35      41
2018 sales     41      34

In [4]:
pd.Series([4 ,1, 40], index=['flour', 'milk', 'eggs'], name='Dinner')

flour     4
milk      1
eggs     40
Name: Dinner, dtype: int64

In [5]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [6]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19